.Delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170vh;
}

.header {
    margin-top: 5rem;
}


label {
    min-width: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    min-width: 16rem;
}