.Update {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: fit-content;
    margin: 0 auto;
}

.photo-container img {
    max-width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조절 */
    max-height: 100%; /* 이미지가 부모 요소의 높이에 맞게 조절 */
}

label {
    min-width: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    min-width: 16rem;
    margin-bottom: 0.5rem;
}

/* .form-group input [type='radio'] {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
} */

.form-group-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group-radio div {
    min-width: 16rem;
}