@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.admin-title {
    font-family: 'Pretendard-Regular';
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 2em;
}

.admin-interface {
    width: 5em;
    height: 5em;
    display: block;
    margin: auto;
}

.change-password {
    margin: 0.5rem;
}

button {
    margin-top: 2rem;
}