.Create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 145h;
}

.photo-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    min-width: 16rem;
    min-height: 2rem;
    margin-top: 0.5rem;
    /* 여백을 주기 위해 추가 */
}

.input-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 첫 번째 input과 '추가' 버튼을 왼쪽으로 정렬합니다. */
    justify-content: center;
}

.input-button button {
    margin-top: 0.5rem;
    /* 버튼과 input 사이의 여백을 주기 위해 추가 */
    margin-left: 0.5rem;
    /* '추가' 버튼과 다음 input 사이의 여백을 주기 위해 추가 */
}